* {
  margin: 0;
  padding: 0;
  border: 0;
}
.page {
  max-width: 1200px;
  margin: auto;
}

body,
.mission,
.main-header,
.our-mission,
.teas {
  color: seashell;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
}

.main-header {
  height: 69px;
  width: 100%;
  position: fixed;
  top: 0px;
  margin-left: 10px;
  display: flex;
  align-content: space-between;
}

.main-header a {
  color: seashell;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  text-decoration: underline;
}

.company-name {
  color: seashell;
  background-color: black;
  font-family: Helvetica;
  font-size: 50px;
  opacity: 0.9;
  align-items: center;
}

.navigation {
  align-content: inline;
}

.mission {
  margin-top: 100px;
  height: 700px;
  width: 1200px;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
  display: flex;
  align-content: center;
  align-items: center;
}

.our-mission {
  text-align: center;
  width: 1200px;
  height: auto;
}

.teas {
  max-width: 1000px;
  /* display: flex;
  justify-content: wrap; */
  margin-top: 2rem;
}

.tea-of-the-month {
  max-width: 1000px;
  text-align: center;
}

.tea-types {
  min-width: 0;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.tea {
  margin: auto;
}

.our-locations {
  margin-top: 2rem;
  height: 500px;
  width: 1200px;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
  /* display: flex;
  align-content: center;
  align-items: center; */
}

.location-details {
  width: 300px;
  margin: 40px;
  text-align: center;
  color: seashell;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
}

.footer {
  margin-top: 2rem;
}

.footer-contact {
  height: 200px;
}
